.mobile-visible {
  display: none;
}

.mobile.landing {

  .mobile-visible {
    display: initial;
  }

  .spacer.s4 {
    min-height: 200px;
  }

  .background {
    display: none;
  }

  .laptop {
    display: none;
  }

  .logo{
    width: 70px;
    height: 79px;
    position: absolute;
    left: 33px;
    top: 30px;
    z-index: 1;
  }


  h1{
    font-size: 44px;
    line-height: 36px;
  }
  p{
    font-size: 18px;
    line-height: 26px;
  }
}