.tablet-visible {
  display: none;
}

.tablet.landing {
  background-image: linear-gradient( #3A9EFF 0%, #44DCFF 10%,  #3A9EFF 100%);
  .tablet-visible {
    display: initial;
  }
  .spacer.s4 {
    min-height: 200px;
  }

  .background {
    display: none;
  }

  h1{
    font-size: 44px;
    line-height: 36px;
  }
  p{
    font-size: 18px;
    line-height: 26px;
  }

.f-row {

  &:before {

    content: ' ';
    display: block;
    flex: 1 1 10%;

  }
  &:after {

    content: ' ';
    display: block;
    flex: 1 1 10%;

  }

  .f-main {
    flex: 2 1 90%;
  }
}



.p-row {

  &:before {

    content: ' ';
    display: block;
    flex: 1 1 0%;

  }
  &:after {

    content: ' ';
    display: block;
    flex: 1 1 0%;

  }

  .p-main {
    flex: 2 1 80%;
  }
}


}