@import 'variables.scss';

@import 'base/fonts.scss';
@import 'base/spacers.scss';
@import 'base/responsive.scss';
@import 'base/grid.scss';
@import 'base/utils.scss';

@import 'animations.scss';

@import 'landing/mobile.scss';
@import 'landing/tablet.scss';

* {
  outline: none;
}

#loader {
  display: none;
  position: absolute;
  background: #3A9EFF;
  height: 12px;
  z-index: 10;
  transition: 0.2s all;
  width: 10%;
}

.landing.loading {
  .logo,
  .menu,
  .scene,
  .phone,
  .laptop,
  .city,
  #video,
  .hero-container,
  .form-container {
    visibility: hidden;
  }
}
.landing.reveal {
  $animDelay: 0.1s;

  .logo {
    @include slide-in-bottom-sm(1s, $animDelay + 0.2s);
  }
  .menu {
    a {
      @include slide-in-bottom-sm(1s, $animDelay + 0.2s);
    }
    a+a {
      @include slide-in-bottom-sm(1s, $animDelay + 0.25s);
    }
    a+a+a {
      @include slide-in-bottom-sm(1s, $animDelay + 0.3s);
    }
  }
}
.landing {

  .main {
    width: 100%;
  }

  .menu {
    display: flex;
    z-index: 100;
    position: fixed;
    right: 40px;
    margin-top: 20px;
    @include fontSansSerif(300);

     a {
      display: inline-block;
      z-index: 99;
      color: #fff;
      text-decoration: none;
      margin: 2px 10px;
    }
    a:hover{
      opacity: .8;
    }
    @media screen and (max-width: $screen-xs) {
      visibility: hidden;
    }
  }

}

h1 {
  color: red;
}
h2 {
  color: green;
}