$leadTextColor: #fff;

$primaryColor: #1E213D;
$textColor: #666D89;

$pricingHeaderColor: #54598B;
$pricingTextColor: #666D89;

$phoneWidth: 398px;
$phoneHeight: 693px;

$laptopWidth: 965px;
$laptopHeight: 709px;

