//@import url("https://fonts.googleapis.com/css?family=Merriweather:100,300,400,700");
//@import url("https://fonts.googleapis.com/css?family=Prompt:100,300,400,500");

$fontSansSerif: 'Prompt', sans-serif;
$fontSerif: 'Merriweather', serif;

@mixin fontSansSerif($weight) {
  font-family: $fontSansSerif !important;
  font-weight: $weight;
}
@mixin fontSerif($weight) {
  font-family: $fontSerif !important;
  font-weight: $weight;
}