
.f-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:before {
    content: ' ';
    display: block;
    flex: 1 1 15%;

    @media screen and (max-width: $screen-md) { flex: 1 1 8%; }
    @media screen and (max-width: $screen-xs) { display: none; }
  }
  &:after {
    content: ' ';
    display: block;
    flex: 3 1 30%;

    @media screen and (max-width: $screen-md) { flex: 2 1 20%; }
    @media screen and (max-width: $screen-xs) { display: none; }
  }

  .f-main {
    flex: 2 1 25%;
    @media screen and (max-width: $screen-xs) {
      margin: auto 20px;
    }
  }
}



.p-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &:before {
    content: ' ';
    display: block;
    flex: 1 1 20%;

    @media screen and (max-width: $screen-md) { flex: 1 1 10%; }
    @media screen and (max-width: $screen-xs) { display: none; }
  }
  &:after {
    content: ' ';
    display: block;
    flex: 1 1 20%;

    @media screen and (max-width: $screen-md) { flex: 1 1 10%; }
    @media screen and (max-width: $screen-xs) { display: none; }
  }

  .p-main {
    flex: 2 1 60%;
    @media screen and (max-width: $screen-xs) {
      margin: auto 20px;
    }
  }
}

.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}