$screen-xs: 720px;
$screen-sm: 1024px;
$screen-md: 1280px;
$screen-lg: 1600px;

.visible-xs {
  @media screen and (max-width: $screen-xs) {
    display: block !important;
  }
  @media screen and (min-width: $screen-xs) {
    display: none !important;
  }
}
.hidden-xs {
  @media screen and (max-width: $screen-xs) {
    display: none !important;
  }
  @media screen and (min-width: $screen-xs) {
    display: block !important;
  }
}
