
@mixin d1() {
  border: 1px dotted red;
}

@mixin bgImg($img) {
  background-image: url($img);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.d {
  border : 1px solid red;
}

.no-overflow {
  overflow: hidden;
}